<article class="card" (mousemove)="onTilt($event)" (mouseleave)="resetTilt($event)">
  <div class="card__cover" aria-hidden="true">
    <span class="card__slug">{{ project().slug }}</span>
  </div>
  <div class="card__body">
    <h3 class="card__title">{{ project().title }}</h3>
    <p class="card__desc">{{ project().description }}</p>
    <app-chip-list [items]="project().stack" class="card__stack" />
    @if (project().link) {
      <a [href]="project().link" target="_blank" rel="noopener" class="card__link">
        View project ↗
      </a>
    }
  </div>
</article>
